@model IEnumerable<Usuario>

<h1>Usuarios</h1>
<p>@Model.ToList().Count usuarios cadastrados.</p>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Gênero</th>
            <th>Tarefas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Nome</td>
                <td>@usuario.Genero</td>
                <td>@usuario.ToDos.Count</td>
            </tr>
        }
    </tbody>
</table>
